/*
 * After modifying this style sheet, refresh the page being designed to see the effect of the modification.
 * Click the Refresh button in the Visual Designer toolbar to refresh the page.
 */

body {
    margin:0;
    padding:0;
    line-height: 1.5em;
}

.register-user {
    width: 240px;
    height: 40px;
    margin: 20px 20px 20px 160px;
    font-size: 120%;

}

#wrapper{
    width: 900px;   /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
}

#banner{
    background: #DADAEE;
    height: 90px; /*Height of top section*/
}

#feedback {
    margin: 20px 0px 20px 0px;
    width: 600px;
    text-align: center;
    font-style: italic;
    color: red;
    font-weight: bold;
    background: #FAFA00;
}

#banner h1{
    margin: 0;
    text-align: center;
    padding-top: 25px;
}

#contentwrapper {
    float: left;
    border-style:solid;
    border-width:0px;
    border-color:red;
}

#maincolumn{
    float: left;
    margin: 0px 0px 0px 20px;
    border-style:solid;
    border-width:0px;
    border-color:green;
}

#leftcolumn{
    float: left;
    margin-bottom: 0px;
    width: 200px; /*Width of left column*/
    background: #E8FFE8;
    border-style:solid;
    border-width:0px;
    border-color:navy;

}

#leftcolumn p {
    margin-left: 8px;
    line-height: 1.2em;
    font-size: 12px;
}

#leftcolumn h3 {
    margin-left: 8px;
    margin-bottom: 0px;
    line-height: 1.2em;
    font-size: 18px;
}

#leftcolumn .infomsgspan {
    margin-left: 8px;
    margin-bottom: 0px;
    margin-top:180px;
    color:maroon;
    line-height: 1.2em;
    font-size: 12px;
}

#leftcolumn a.list {
    margin-left: 18px;
    margin-top: 8px;
    line-height: 1.3em;
    font-size: 12px;
}

#footer{
    clear: both;
    width: 100%;
    background: gray;
    color: #CCC;
    text-align: center;
    font-size:60%;
    padding: 4px 0;
}

#footer a{
    color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}



/* Style rules to make Java Server faces Standarad data tables look better */

.list-header {
  background-color: #eeeeee;
  font-size: larger;
  font-weight: bold;
}

.list-paging-header {
  background-color: white;
}

.list-paging-footer {
  background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #eeeeee;
}

/* Style rules for message severity levels */

.infoMessage {
  color: black;
}

.warnMessage {
  color: orange;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.fatalMessage {
  color: red;
  font-style: italic;
  font-weight: bold;
}

